$co01: #000f18;
$co02: #1c232b;
$co03: #0e212c;
$co04: #0e3449;
$co05: #01111b;
$co06: #12181e;
$co07: #427144;
$co08: #793236;
$co09: #52a860;
$co10: #b8babb;
$co11: #8d9092;
$co12: #a9b3b8;
$co13: #47545c;
$co14: #8d3439;
$co15: #9a653f;
$co16: #bfc9dc;
$co17: #6d7480;
$co18: #484e57;
$co19: #f7f7f7;
$co20: #eeeeee;
$co21: #f2f2f2;
$co22: #615353;
$co23: #5c5c5c;
$co24: #858585;
$co25: #adadad;
$co26: #d6d6d6;
$co27: #be7175;
$co28: #e2efdb;
$co29: #ffffff;
$co30: #479e55;
$co31: #303236;
$co32: #1d3d22;
$co33: #666666;
$co34: #a3acbd;
$co35: #5b616e;
$co36: #9aa84e;
$co37: #1c242b;
$co38: #292e39;
$co39: #0e2938;
$co40: #7f5537;
$co41: #7890a6;
$co42: #1f395e;
$co43: #e8f2f7;
$co44: #448147;
$co45: #d3d9dd;
$co46: #e5ecf0;
$co47: #e7f2f7;
$co48: #457a98;
$co49: #000f18;
$co50: #556b77;
$co51: #69747b;
$co52: #333333;
$co53: #9d9c9e;
$co54: #edebf0;
$co55: #cccccc;




$fs12: 12px;
$fs13: 13px;
$fs14: 14px;
$fs15: 15px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;
$fs24: 24px;
$fs26: 26px;
$fs28: 28px;
$fs30: 30px;
$fs32: 32px;
$fs34: 34px;
$fs36: 36px;

$lf: left; 
$ct: center; 
$rt: right; 

// 背景颜色
.bk01{background-color: $co01}
.bk02{background-color: $co02}
.bk03{background-color: $co03}
.bk04{background-color: $co04}
.bk05{background-color: $co05}
.bk06{background-color: $co06}
.bk07{background-color: $co07}
.bk08{background-color: $co08}
.bk09{background-color: $co09}
.bk10{background-color: $co10}
.bk11{background-color: $co11}
.bk12{background-color: $co12}
.bk13{background-color: $co13}
.bk14{background-color: $co14}
.bk15{background-color: $co15}
.bk16{background-color: $co16}
.bk17{background-color: $co17}
.bk18{background-color: $co18}
.bk19{background-color: $co19}
.bk20{background-color: $co20}
.bk21{background-color: $co21}
.bk22{background-color: $co22}
.bk23{background-color: $co23}
.bk24{background-color: $co24}
.bk25{background-color: $co25}
.bk26{background-color: $co26}
.bk27{background-color: $co27}
.bk28{background-color: $co28}
.bk29{background-color: $co29}
.bk30{background-color: $co30}
.bk31{background-color: $co31}
.bk32{background-color: $co32}
.bk33{background-color: $co33}
.bk34{background-color: $co34}
.bk35{background-color: $co35}
.bk36{background-color: $co36}
.bk37{background-color: $co37}
.bk38{background-color: $co38}
.bk39{background-color: $co39}
.bk40{background-color: $co40}
.bk41{background-color: $co41}
.bk42{background-color: $co42}
.bk43{background-color: $co43}
.bk44{background-color: $co44}
.bk45{background-color: $co45}
.bk46{background-color: $co46}
.bk47{background-color: $co47}
.bk48{background-color: $co48}
.bk49{background-color: $co49}
.bk50{background-color: $co50}
.bk51{background-color: $co51}
.bk52{background-color: $co52}
.bk53{background-color: $co53}
.bk54{background-color: $co54}
.bk55{background-color: $co55}


// 字体颜色
.cl01{color: $co01}
.cl02{color: $co02}
.cl03{color: $co03}
.cl04{color: $co04}
.cl05{color: $co05}
.cl06{color: $co06}
.cl07{color: $co07}
.cl08{color: $co08}
.cl09{color: $co09}
.cl10{color: $co10}
.cl11{color: $co11}
.cl12{color: $co12}
.cl13{color: $co13}
.cl14{color: $co14}
.cl15{color: $co15}
.cl16{color: $co16}
.cl17{color: $co17}
.cl18{color: $co18}
.cl19{color: $co19}
.cl20{color: $co20}
.cl21{color: $co21}
.cl22{color: $co22}
.cl23{color: $co23}
.cl24{color: $co24}
.cl25{color: $co25}
.cl26{color: $co26}
.cl27{color: $co27}
.cl28{color: $co28}
.cl29{color: $co29}
.cl30{color: $co30}
.cl31{color: $co31}
.cl32{color: $co32}
.cl33{color: $co33}
.cl34{color: $co34}
.cl35{color: $co35}
.cl36{color: $co36}
.cl37{color: $co37}
.cl38{color: $co38}
.cl39{color: $co39}
.cl40{color: $co40}
.cl41{color: $co41}
.cl42{color: $co42}
.cl43{color: $co43}
.cl44{color: $co44}
.cl45{color: $co45}
.cl46{color: $co46}
.cl47{color: $co47}
.cl48{color: $co48}
.cl49{color: $co49}
.cl50{color: $co50}
.cl51{color: $co51}
.cl52{color: $co52}
.cl53{color: $co53}
.cl54{color: $co54}
.cl55{color: $co55}

// 边框颜色
.br-cl01{border-color: $co01}
.br-cl02{border-color: $co02}
.br-cl03{border-color: $co03}
.br-cl04{border-color: $co04}
.br-cl05{border-color: $co05}
.br-cl06{border-color: $co06}
.br-cl07{border-color: $co07}
.br-cl08{border-color: $co08}
.br-cl09{border-color: $co09}
.br-cl10{border-color: $co10}
.br-cl11{border-color: $co11}
.br-cl12{border-color: $co12}
.br-cl13{border-color: $co13}
.br-cl14{border-color: $co14}
.br-cl15{border-color: $co15}
.br-cl16{border-color: $co16}
.br-cl17{border-color: $co17}
.br-cl18{border-color: $co18}
.br-cl19{border-color: $co19}
.br-cl20{border-color: $co20}
.br-cl21{border-color: $co21}
.br-cl22{border-color: $co22}
.br-cl23{border-color: $co23}
.br-cl24{border-color: $co24}
.br-cl25{border-color: $co25}
.br-cl26{border-color: $co26}
.br-cl27{border-color: $co27}
.br-cl28{border-color: $co28}
.br-cl29{border-color: $co29}
.br-cl30{border-color: $co30}
.br-cl31{border-color: $co31}
.br-cl32{border-color: $co32}
.br-cl33{border-color: $co33}
.br-cl34{border-color: $co34}
.br-cl35{border-color: $co35}
.br-cl36{border-color: $co36}
.br-cl37{border-color: $co37}
.br-cl38{border-color: $co38}
.br-cl39{border-color: $co39}
.br-cl40{border-color: $co40}
.br-cl41{border-color: $co41}
.br-cl42{border-color: $co42}
.br-cl43{border-color: $co43}
.br-cl44{border-color: $co44}
.br-cl45{border-color: $co45}
.br-cl46{border-color: $co46}
.br-cl47{border-color: $co47}
.br-cl48{border-color: $co48}
.br-cl49{border-color: $co49}
.br-cl50{border-color: $co50}
.br-cl51{border-color: $co51}
.br-cl52{border-color: $co52}
.br-cl53{border-color: $co53}
.br-cl54{border-color: $co54}
.br-cl55{border-color: $co55}

// 文字样式
.tl{text-align: $lf;}
.tc{text-align: $ct;}
.tr{text-align: $rt;}

// 浮动
.fl{float: $lf;}
.fr{float: $rt;}
